<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Logowanie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost/stronainternetowa?user=root</param-value>
  </context-param>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Logowanie</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>Logowanie</servlet-name>
    <servlet-class>pl.logowanie.net.Logowanie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rejestracja</servlet-name>
    <servlet-class>pl.logowanie.net.Rejestracja</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Wylogowanie</servlet-name>
    <servlet-class>pl.logowanie.net.Wylogowanie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PobieraniePliku</servlet-name>
    <servlet-class>pl.logowanie.net.PobieraniePliku</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PobieraniePlikuMuzycznegoLista6</servlet-name>
    <servlet-class>pl.logowanie.net.PobieraniePlikuMuzycznegolista6</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrzesylaniePliku</servlet-name>
    <servlet-class>pl.logowanie.net.PrzesylaniePliku</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DaneUzytkownika</servlet-name>
    <servlet-class>pl.logowanie.net.DaneUzytkownika</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WyszukanieUtworu</servlet-name>
    <servlet-class>pl.logowanie.net.WyszukanieUtworu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DanePlikuMuzycznego</servlet-name>
    <servlet-class>pl.logowanie.net.DanePlikuMuzycznego</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Komentarz</servlet-name>
    <servlet-class>pl.logowanie.net.Komentarze</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZmianaDanych</servlet-name>
    <servlet-class>pl.logowanie.net.ZmianaDanych</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HasloNaMaila</servlet-name>
    <servlet-class>pl.logowanie.net.WyslanieMaila</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logowanie</servlet-name>
    <url-pattern>/login_sprawdz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rejestracja</servlet-name>
    <url-pattern>/rejestracja_sprawdz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Wylogowanie</servlet-name>
    <url-pattern>/wyloguj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PobieraniePliku</servlet-name>
    <url-pattern>/pobierz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PobieraniePlikuMuzycznegoLista6</servlet-name>
    <url-pattern>/pobierzMuzyczke</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrzesylaniePliku</servlet-name>
    <url-pattern>/przeslij</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DaneUzytkownika</servlet-name>
    <url-pattern>/uzytkownik</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WyszukanieUtworu</servlet-name>
    <url-pattern>/znajdz_utor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DanePlikuMuzycznego</servlet-name>
    <url-pattern>/piosenka</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Komentarz</servlet-name>
    <url-pattern>/wyslijKomentarz</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ZmianaDanych</servlet-name>
    <url-pattern>/zmiana_danych</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HasloNaMaila</servlet-name>
    <url-pattern>/new_haslo</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>pl.logowanie.net.MyServletContextListener</listener-class>
  </listener>
</web-app>